
<div id="wrapper">

  <div class="new-form">
    <div class="game-image">
      <%= image_tag(@game.games_picture) %>
    </div>
  </div>

  <div id="divider2"></div>
  <div id="game-name">
    <%= @game.name.upcase %>
  </div>
    <div class="all-posts">
      <%= render partial: 'posts/posts' %>
    </div>

</div>
