<!-- <%# if @post.errors.full_messages.any? %>
  <%# @post.errors.full_messages.each do |message| %>
    <p><%# message %></p>
  <%# end %>
<%# end %> -->

<div id="wrapper">
  <div class="new-form">
    <%= render 'form' %>
  </div>
  <div id="divider2"></div>

  <div class="searcher"></div>

  <div class="all-posts">
    <%= render 'post' %>
  </div>
</div>
