<div id="wrapper">
  <div class="new-form">
    <%= render 'form' %>
  </div>
  <div id="divider2"></div>

  <div class="white-space"></div>
  <div class="searcher">
   
      <%= label_tag :game, '' %>
      <%= collection_select :game,  :id, Game.all, :id, :name, {include_blank: true}, {class: 'chosen-select', data: {placeholder: 'Choose a game'}} %>
    
   
  </div>

  <div class="all-posts">
    <%= render 'posts' %>
  </div>
</div>
