/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media only screen and (min-width: 450px) {

   html {
     height: 100%;
   }

   body {
     margin: 0 auto 0 auto;
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     height: 100%;
   }

   #nav {
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
     align-items: center;
     background-color: #2D2D2D;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     color: white;
     font-size: 2em;
     margin-bottom: 35px;
   }

   #nav img {
     margin-top: 5px;
   }

  #wrapper {
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 100%;
  }

  .new-form li {
    font-size: 16px;
    text-decoration: none;
    list-style:none;
    color: #2D2D2D;
    color: red;
  }

  .new-form {
    min-width: 15%;
    padding: 20px;
    color: black;
    margin-top: -20px;
    float: left;
    position: fixed;
    font-size: 12px;
  }

  .game-image img {
    margin-top: 10px;
    width: 235px;
    height: 335px;
    box-shadow: 0px 0px 1px .02em #F8AC00;
    border-radius: 2px;
  }

  #game-name {
    font-size: 2em;
    margin-top: 0px;
    margin-left: 320px;
    color: #F8AC00;
    padding-left: 0px;
    border-bottom: 2px solid black;
  }

  .form-lines {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-lines:first-of-type p {
    margin-top: 0px;
    font-size: 20px;
    color: #F8AC00;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    width: 200px;
  }

  .form-lines select {
    border: none;
    width: 202px;
    height: 20px;
    margin-bottom: 15px;
    border: 1px solid #2D2D2D;
    background-color: white;
    border-radius: 0;
    -webkit-appearance: none;
  }

  .form-lines input {
    border: none;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    border: 1px solid #2D2D2D;
    width: 198px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    background-color: white;
  }

  .form-lines textarea {
    border: none;
    font-family: 'Muli', sans-serif;
    width: 196px;
    height: 75px;
    font-size: 12px;
    margin-bottom: 15px;
    border: 1px solid #2D2D2D;
    background-color: white;
  }

  .form-lines label {
    display: inline-block;
  }

  .form-lines > * {
    margin-bottom: 5px;
  }

  #post_console {
    height: 24px;
  }

  #post_game_id {
    height: 24px;
  }

  .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #2D2D2D;
    border-radius: 0px;
    color: #2D2D2D;
    background-color: white;
    font-size: 12px;
    height: 24px;
    width: 200px;
    box-shadow: none;
    background: -webkit-gradient(linear,0% 0,0% 00%,color-stop(0%,#FFFFFF),color-stop(0%,#FFFFFF),color-stop(0%,##FFFFFF),color-stop(0%,##FFFFFF));
    background: -webkit-linear-gradient(##FFFFFF 0%,##FFFFFF 0%,##FFFFFF 0%,#FFFFFF 0%);
    background: -moz-linear-gradient(#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%);
    background: -o-linear-gradient(#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%);
    background: linear-gradient(#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%,#FFFFFF 0%);
    margin-bottom: 15px;
  }

  .chosen-drop .chosen-results {
    color: #2D2D2D;
    background-color: white;
    font-size: 12px;
  }

  .chosen-container .chosen-drop {
    color: #2D2D2D;
    background-color: white;
    border: none;
    height: 280px;
    border-radius: 0px;
  }

  .chosen-results .active-result {
    color: #2D2D2D;
    font-size: 12px;
    padding: 1px;
  }

  #language-button label {
    margin-bottom: 5px;
  }

  #submit-post {
    background-color: #2D2D2D;
    color: #E5E5E5;
    border: none;
    text-decoration: none;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 1px #B7B7B7;
    font-weight: 400;
    font-size: 20px;
    height: 35px;
    color: #F8AC00;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    border-radius: 2px;
    box-shadow: 0px 0px 1px .02em #F8AC00;
  }

  #divider2 {
    position: fixed;
    width: 1px;
    height: 515px;
    background-color: #2D2D2D;
    opacity: .75;
    margin-top: 10px;
    margin-bottom: 0;
    position: fixed;
    margin-left: 280px;
  }

  .all-posts {
    margin-left: 320px;
    margin-bottom: 140px;
  }

  .new-post {
    color: black;
    height: 120px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 12px;
    /*background-color: green;*/
  }

  .all-posts .new-post {
    border-bottom: .1em solid rgba(0, 0, 0, .15);
  }

  #post-left {
    float: left;
    width: 125px;
    height: 100%;
    margin-right: 0px;
  }

  #post-left div {
    padding: 10px 0px 0px 10px;
  }

  #post-left div img {
    height: 30px;
    width: 30px;
  }

  .white-space {
    height: 10px;
  }

  .searcher {
    margin-left: 320px;
    margin-bottom: -10px;
    height: 20px;
    background-color: #2D2D2D;
    padding-top: 5px;
    padding-left: 6px;
    padding-bottom: 9px;
    box-shadow: 0px 0px 1px .02em #F8AC00;
    border-radius: 2px;
  }

  .searcher label {
    display: none;
  }

  .searcher .chosen-search {
    width: 200px;
    margin-right: 0px;
    padding-right: 0px;
  }

  .searcher .chosen-results {
    width: 200px;
    margin-right: 0px;
  }

  #gamertag {
    color: #F8AC00;
  }

  div #time-ago {
    margin: 0px;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 10px;
    font-style: italic;
    color: rgba(0, 0, 0, .50);
  }

  div #language {
    padding-top: 2px;
  }

  #post-middle {
    padding-left: 10px;
    float: left;
    width: 200px;
    height: 100%;
  }

  #post-middle div {
    padding: 10px 0px 0px 0px;
  }

  #post-middle p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
  }

  #game a {
    color: #2D2D2D;
  }

  #cons {
    float: right;
    height: 100%;
  }

  #cons div img {
    margin-top: 15px;
    height: 50px;
    width: 57px;
    align-items: center
  }

  #cons p {
    font-size: 9px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-align: center;
  }

  footer p {
    position:bottom;
    background-color: white;
    width: 75%;
    height: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #F8AC00;
    align-items: center;
    font-size: 12px;
    margin-bottom: 100px;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    border-top: solid 1px rgba(0, 0, 0, .15);
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

 }
