/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @media only screen and (min-width: 960px) {

   body {
     margin: 0 auto 0 auto;
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
   }

   #nav {
     width: 100%;
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
     align-items: center;
     background-color: #2D2D2D;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     color: #C62030;
     font-size: 2em;
   }

  #divider {
    align-items: center;
    width: 75%;
    margin: 30px auto 30px auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    /*border-bottom-color: #C62030;*/
    opacity: .25;
  }

  #wrapper {
    margin-left: 12.5%;
    width: 36%;
  }

  .new-form {
    margin-top: 10px;
    /*background-color: #E5E5E5;*/
    background-color: white;
    min-width: 15%;
    /*margin-left: 12.5%;*/
    padding: 20px;
    color: #C62030;
    color: black;
    box-shadow: 0px 0px 1px 1px #B7B7B7;
    /*border: solid 1px #B7B7B7;*/
    float: left;
    position: fixed;
    /*margin-right: 20px;*/
  }

  .form-lines {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .form-lines select {
    border: none;
    width: 202px;
    height: 20px;
    margin-bottom: 15px;
    border: 1px solid #2D2D2D;
    background-color: white;
  }

  .form-lines input {
    border: none;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    border-radius: 3px;
    border: 1px solid #2D2D2D;
    width: 200px;
    height: 20px;
    font-size: 12px;
    margin-bottom: 15px;
    background-color: white;
  }

  .form-lines textarea {
    border: none;
    font-family: 'Muli', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 75px;
    font-size: 12px;
    margin-bottom: 15px;
    border: 1px solid #2D2D2D;
    background-color: white;
  }

  .form-lines label {
    /*padding-bottom: 10px;*/
    display: inline-block;
  }

  .form-lines > * {
    margin-bottom: 5px;
  }

  #language-button label {
    margin-bottom: 5px;
  }

  #submit-post {
    background-color: #2D2D2D;
    color: #E5E5E5;
    border: none;
    text-decoration: none;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 1px #B7B7B7;
    font-weight: 400;
    font-size: 16px;
    height: 35px;
  }

  #divider2 {
  float: left;
  width: 1px;
  height: 565px ;
  background-color: rgb(186, 1, 33);
  /*opacity: 0.3;*/
  /*margin: 0 50px 0 50px;*/
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
  position: fixed;
  margin-left: 300px;
  }

  .all-posts {
    /*float: left;*/
    margin-top: 35px;
    margin-left: 525px;
  }

 }






 /*#form-description {
   border: none;
   margin-bottom: 10px;
 }

 .form-lines input {
   border: none;
 }

 .form-lines {
   margin: 0px;
 }

 .submit-button {
   background-color: #2D2D2D;
   color: #E5E5E5;
   border: none;
   text-decoration: none;
   padding: 7px;
 }*/
