<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>im the welcome</title>
    <%= stylesheet_link_tag 'welcome' %>

  </head>
  <body>

    <video id="video" autoplay width="1350" data-playlist="/videos/playlist">
      <h1 id="hello">Hello</h1>
    </video>
    <div class="logo">
    <%= link_to posts_path do %>
      <%= image_tag 'polyguin_logo.png' %>
    <% end %>
  </div>
  <%= javascript_include_tag 'welcome' %>
  </body>
</html>
